:root{
  --primary: rgb(65, 65, 65);
  --primary-light: rgb(130, 130, 130);
  --secondary: rgb(85, 159, 202);
  --secondary-dark: rgb(59, 113, 144);
  --tertiary: rgb(204, 142, 239);

  --font-light: rgb(237, 237, 237);
  --correct: rgb(92, 241, 69);
  --incorrect: rgb(251, 66, 66);

  --sq-btn-w: 120px;
  --sq-btn-h: 45px;
  --cr-btn-w: 60px;
  --sm-cr-btn-w: 50px;

  background-color: var(--primary);

  box-sizing: border-box;
  margin-top: 50px;
}

.primary-button{
  background-color: var(--secondary);
  width: 250px;
  height: 45px;
  border-radius: 7px;
  border: none;
  margin: 5px auto;
  color: var(--font-light);
  font-size: 18px;
}

.circle-button{
  height: var(--cr-btn-w);
  width: var(--cr-btn-w);
  border-radius: calc(var(--cr-btn-w) / 2);
  border: none;
  margin: 5px 15px;
}

.sm-cir-button {
  height: var(--sm-cr-btn-w);
  width: var(--sm-cr-btn-w);
  border-radius: calc(var(--sm-cr-btn-w) / 2);
  border: none;
  margin: 5px 15px;
}

.vrt-btn-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 200px;
}

.hrz-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  margin-top: 20px;
}

.link{
  text-decoration: none;
  color: var(--font-light)
}

.def-text{
    text-align: center;
    color: var(--font-light);
    font-size: 24px;
    margin: 0 auto;
    width: 100%;
    
    font-family: inherit;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
