h1 {
    font-family: inherit;
    color: var(--font-light);
}

.leg-container{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: var(--font-light);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    justify-content: flex-end;
    align-self: flex-end;
}

.x {
    margin-left: 5px;
}