.accuracy-val{
    color: var(--font-light);
    font-size: 30px;
    margin: 0 auto;
    width: 100%;
    font-family: inherit;
}

.review-text-container{
    background-color: var(--primary);
    border: none;
    text-align: center;
    color: var(--font-light);
    font-size: 24px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    padding-top: 0px;
    font-family: inherit;
    box-sizing: border-box;
}

.correct{
    display: inline-block;
    color: var(--correct);
    margin-right: 0.25em;
}

.incorrect{
        display: inline-block;
        color: var(--incorrect);
        margin-right: 0.25em;
        transition: all .25s ease;
}

.null {
    display: inline-block; 
    margin-right: 0.25em;
}

.height{
    min-height: 120px;
}

.sm-chev {
    height: 20px;
    width: 20px;
    color: var(--secondary);
    margin-left: 7px;
}

.show {
    font-family: inherit;
    font-size: 16px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.down-chev {
    transform: rotate(-180deg);
    transition: .5s;
}

.up-chev {
    transition: .5s;
}

.show-answer{
    min-height: 0px;
    color: var(--primary);
    overflow: hidden; 
    transition: all .25s ease-in;
}

.answer-container{
    margin: 0px 20px;
}

.show-answer.open{
    min-height: 10px;
}
.incorrect.show-answer.open{
    color: var(--incorrect);
}
.correct.show-answer.open{
    color: var(--correct);
}
.null.show-answer.open{
    color: var(--font-light);
}